* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: burlywood;
  height: 100px;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;

  li a {
    text-decoration: none;
  }
}

/* header nav ul li a {
  text-decoration: none;
} */

.articles {
  padding: 0 2rem;
  margin-top: 2rem;
}

.articles p {
  letter-spacing: 1px;
  text-align: center;
}

.features {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.features div {
  width: 140px;
  height: 140px;
  background-color: cadetblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .features div:first-child {
  background-color: rgb(122, 191, 194);
  border: 2px solid red;
}

.features div:last-child {
  background-color: rgb(122, 191, 194);
  border: 2px solid red;
} */

/* .features div:nth-child(even) {
  background-color: blueviolet;
}

.features div:nth-child(odd) {
  font-weight: 900;
} */

.features div:nth-child(3n) {
  font-weight: 900;
}

.special-feature {
  background-color: blueviolet !important;
}

.new-class {
  background-color: aqua;
}
